[package]
name = "sitegen"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.32", features = ["derive"] }
content = { path = "../content" }
ui = { path = "../ui" }
notify = "6.1.1"
