@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --bg: #f0f0f0;
  --paper: #ffffff;
  --ink: #000000;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: "Noto Sans JP";
}
