---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PageHead from "../components/PageHead.astro";
import Contents from "../contents/contents.md";
import contentsRaw from "../contents/contents.md?raw";
import { siteConfig } from "../utils/site";
import { createTocItems } from "../utils/toc";

const tocItems = createTocItems(contentsRaw);
---

<html lang="ja">
  <head>
    <PageHead {...siteConfig} />
  </head>
  <body>
    <div class="container">
      <Header items={tocItems} />
      <main>
        <Contents />
      </main>
      <Footer />
    </div>
  </body>
</html>
